.sidebar {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 212px;
  width: 100%;
}

.sidebar__container {
  margin: 36px auto 29px;
}

.sidebar__button {
  border: 0;
  background-color: #fff;
  padding: 12px 28px;
  display: flex;
  cursor: pointer;
}

.sidebar__img {
  width: 32px;
  height: 32px;
  border-radius: 48px;
  background: #f2f3f5;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sidebar__button-text {
  margin: 0;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
  align-self: center;
}

.sidebar__menu {
  margin-left: 28px;
}

.sidebar__button-menu {
  display: flex;
  background-color: #fff;
  border: none;
  padding: 10px 10px 10px 8px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
}

.sidebar__button-menu_active {
  background: #f2f3f5;
}

.sidebar__button-img {
  width: 24px;
  height: 24px;
}

.sidebar__button-name {
  margin: 0;
  padding-left: 12px;
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  align-self: center;
}
