.statusTask {
  margin: 0;
  position: absolute;
  right: 28px;
  top: 84px;
  max-width: 288px;
  width: 100%;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

.statusTask__container:last-child {
  margin-bottom: 0;
}

.statusTask__container-select {
  display: flex;
  height: 40px;
  padding: 8px 20px 8px 8px;
  align-items: center;
  gap: 8px;
}

.statusTask__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.statusTask__select {
  text-align: center;
  border: none;
}

.statusTask__option {
  display: flex;
  height: 20px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
}
