$black: #0e0e0e;
$pure-black: #000000;
$white: #ffffff;
$red: #ef3124;
$red-2: #e32a17;
$green: #0cc44d;
$blue: #2a77ef;
$grey: #e7e8eb;
$grey-2: #dcdde1;
$light-grey: #f2f3f5;
$dark-grey: #0404138c;
$tetriary: #05081d61;
$quaternary: #050b2c2e;

$accent-primary: $red;
$accent-secondary: $black;
$accent-tetriary: $white;

$bg-primary: $white;
$bg-secondary: $light-grey;

$title-primary: $pure-black;
$outline-primary: $blue;

$text-primary: $black;
$text-secondary: $dark-grey;
$text-accent: $red;
$text-link: $blue;
$text-tetriary: $quaternary;
$text-quaternary: $quaternary;

$state-success: $green;
$hover-red: $red-2;
$state-hover: $light-grey;
$state-pressed: $grey;
$state-pressed-2: $grey-2;
