.statusPlan {
  margin: 0;
  position: absolute;
  right: 28px;
  top: 84px;
  max-width: 288px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.statusPlan__container-select {
  display: flex;
  min-height: 40px;
  padding: 8px 20px;
  align-items: center;
}

.statusPlan__img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusPlan__select {
  text-align: center;
  border: none;
}

.statusPlan__option {
  display: flex;
  height: 20px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
}

.statusPlan__container {
  margin-top: 8px;
}

.statusPlan__text_type_margin {
  margin-top: 8px;
}

.statusPlan__select_color_gray {
  color: #0404138c;
}
