@import './../../styles/colors.scss';

.nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: $text-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.7;
}
