@import './../../styles/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 28px;
  box-sizing: border-box;
}

%wrapper {
  display: flex;
}

.side {
  &Logo {
    gap: 38px;
    @extend %wrapper;
  }
  &Profile {
    gap: 16px;
    @extend %wrapper;
  }
}

.logo {
  width: 170px;
  height: 40px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 48px;
  padding: 8px;
  background-color: $bg-secondary;
  box-sizing: border-box;
  cursor: pointer;
}

.iconContent {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./../../svg/bell.svg) center / contain no-repeat;
}

.profileImage {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.searchBox {
  width: 176px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  background-color: #f2f3f5;
}

.searchIcon {
  width: 20px;
  height: 20px;
  background: url(./../../svg/magnifier.svg);
}

.search {
  width: 124px;
  border: none;
  background-color: transparent;
}

.search:focus-visible {
  outline: 1px solid #f2f3f5;
}
