@import './../../styles/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  padding: 56px 20px 18px;
  background-color: #fff;
  grid-area: footer;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
}

.links {
  width: 1016px;
  padding: 36px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $text-quaternary;
  border-bottom: 1px solid $text-quaternary;
}

.innerLinks {
  width: 600px;
  height: 96px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 98px);
  row-gap: 24px;
  justify-content: space-between;
}

.item {
  color: $text-primary;
  width: max-content;
}

.outterLinks {
  width: 184px;
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logoIcon {
  width: 36px;
  height: 36px;
}

.capture {
  width: 132px;
  margin: 0;
}

.socialLinks {
  display: flex;
  gap: 12px;
}

.appLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  color: $text-tetriary;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.7;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: $bg-secondary;
  border-radius: 12px;
  transition: opacity 0.2s ease;
}

.icon:hover {
  opacity: 0.7;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1016px;
  min-height: 36px;
  margin: 0 auto;
}

.phone {
  color: $text-tetriary;
}

.button {
  border: 0;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-secondary;
  border-radius: 8px;
  color: $text-primary;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.7;
}
