@import './../../styles/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 56px 20px 18px;
  background-color: #fff;
  grid-area: footer;
}

.links {
  width: 1016px;
  padding: 36px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $text-quaternary;
  border-bottom: 1px solid $text-quaternary;
}

.innerLinks {
  width: 600px;
  height: 96px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 98px);
  row-gap: 24px;
  justify-content: space-between;
}

.item {
  color: $text-primary;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  width: max-content;
}

.socialLinks {
  width: 184px;
  height: 96px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logoIcon {
  width: 36px;
  height: 36px;
  object-fit: contain;
  object-position: center;
}

.capture {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  width: 132px;
  margin: 0;
}

.flex {
  display: flex;
  gap: 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  color: $text-tetriary;
}

.link {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: $bg-secondary;
  border-radius: 12px;
}
