$text-primary: #0e0e0e;
$text-secondary: #0404138c;
$blue: #2188fa;
$green: #26c44d;
$grey: #898991;

//%primary-text {
//  color: $text-primary;
//  font-size: 16px;
//  font-weight: 400;
//  line-height: 24px;
//  letter-spacing: 0.08px;
//}

//.table {
//  width: 100%;
//  display: grid;
//  grid-template-columns: 1fr 160px 120px; // Задаем ширину колонок
//  gap: 8px; // Можете изменить на нужный вам отступ между колонками
//}

//.tableHeader {
//  grid-column: span 3; // Занимает все три колонки
//  text-align: left;
//  text-transform: uppercase;
//  color: $text-secondary;
//  font-size: 12px;
//  font-weight: 500;
//  letter-spacing: 1.44px;
//  padding: 24px 12px;
//  &SortContainer {
//    display: flex;
//    align-items: center;
//    gap: 8px;
//  }
//  &:last-child {
//    padding-right: 24px;
//  }
//}

//.tableBody {
//  display: grid;
//  gap: 8px;
//  // Дополнительные стили...
//}

////.infoCell {
////  width: auto;
////  display: flex;

////  &FullName {
////    @extend %primary-text;
////    margin: 0;
////  }
////  &Position {
////    font-size: 14px;
////    font-weight: 400;
////    line-height: 20px;
////    color: $text-secondary;
////  }
////  &TextContainer {
////    display: flex;
////    flex-direction: column;
////    justify-content: center;
////  }
////}

////.deadlineCell {
////  width: 160px;
////  @extend %primary-text;
////}

////.statusCell {
////  width: 120px;
////  &Badge {
////    border-radius: 4px;
////    width: fit-content;
////    padding: 6px 8px;
////    color: white;
////    font-size: 11px;
////    font-weight: 600;
////    text-transform: uppercase;
////    line-height: 16px;
////    letter-spacing: 0.14px;
////  }
////}

//.statusInWork {
//  background-color: $blue; /* Цвет для статуса "В работе" */
//}

//.statusCompleted {
//  background-color: $green; /* Цвет для статуса "Выполнен" */
//}

//.statusCanceled {
//  background-color: $grey; /* Цвет для статуса "Отменён" */
//}

//.row {
//  display: grid;
//  grid-template-columns: 1fr 160px 120px; // Определение ширины колонок
//  gap: 8px;
//  align-items: center;

//  // Остальные стили...
//}

//.sortBtn {
//  border: none;
//  background: transparent;
//  padding: 0;
//  width: 24px;
//  height: 24px;
//}

//.tooltip {
//  position: relative;
//  display: inline-block;
//  height: 24px;
//  &TextContainer {
//    position: absolute;
//    bottom: 100%;
//    color: #3d3d3d;
//    transform: translateX(-50%);
//    border-radius: 12px;
//    border: 1px solid #dadada;
//    background-color: #f2f3f5;
//    padding: 10px;
//    margin: 0 0 8px 0;
//    text-transform: capitalize;
//    font-size: 12px;
//    line-height: 16px;
//    width: max-content;
//    box-shadow: 0px 0px 10px #0000001a;
//    z-index: 100;
//  }
//}

//.cell {
//  // Стили для ячеек...

//  &:first-child {
//    width: 100%; // Первая ячейка занимает всю доступную ширину
//  }

//  &:last-child {
//    text-align: right; // Выравнивание содержимого в последней ячейке
//  }
//}
%tableGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  @extend %tableGrid;
  &Cell {
    font-weight: bold;
    cursor: pointer;
  }
}

.row {
  @extend %tableGrid;
  &Content {
    @extend %tableGrid;
  }
  &Trigger {
    cursor: pointer;
    @extend %tableGrid;
  }
}

.cell {
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
