.textAreaPlan {
  margin: 32px 0;
  max-width: 600px;
  width: 100%;
}

.textAreaPlan__title {
  margin: 0 0 20px;
  padding: 0;
  color: #aaaaaa;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  border: none;
  max-height: 42px;
  box-sizing: border-box;

}

.textAreaPlan__task {
  box-sizing: border-box;
  padding: 16px 12px;
  max-height: 56px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  border-radius: 8px;
  background: #F2F3F5;
  color: #AAA;
}
